{{!< default}}

<div class='o-wrapper'>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

  <div class='o-grid'>
    {{> index-tags }}
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'></div>
  </div>

 

</div>