{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Error template }}
<main id="main-asnd">
	<article id="post-page-asnd" class="error-on-source">
		
		<h1>{{code}}</h1>
		<h2>Oops! {{message}}</h2>

		<a class="back-home-link" href="{{@blog.url}}">Go to home</a>

	</article>
</main>