<footer id="main-footer-asnd">
	<section id="widgets-area-b" class="widgets-area"></section>
	<p id="bottom-copyright">
		&copy; {{date format="YYYY"}}, {{@blog.title}}. Ascend Theme by <a href="//aftertype.com">Aftertype</a>. Powered by <a href="//ghost.org">Ghost</a>.
	</p>
</footer>